body {
    background-image: url("/front/assets/base.png");
    font-family: 'Inter', sans-serif;
}
.nav {
    height: 60px;
    padding: 10px;
    align-items: center;
}

.signupbutton {
    width: 130px;
    height: 90%;
    border: 1px solid #217BF4;
    box-sizing: border-box;
    box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
    border-radius: 14px;
    margin-right: 10px;
}

.signupbutton-text {
    font-weight: 600;
    font-size: 11px;
    text-align: center;
    color: #217BF4;
    text-decoration: none;
}

.loginbutton {
    width: 130px;
    height: 90%;
    box-sizing: border-box;
    box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
    border-radius: 14px;
    background: #217BF4;
}

.loginbutton-text {
   font-weight: 600;
    font-size: 11px;
    text-align: center;
    color: #FFFFFF !important;
}

.landing-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin: auto;
}
.landing-text {
    display: flex;
    flex-direction: column;
    height: 60%;
}

.landingbutton {
    text-align: center;
    height: 30px !important;
}

footer {
    width: 100%;
    position: fixed;
    left:0;
    bottom: 0;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #20202D;
    padding: 20px;
    font-size: 18px;
}